# Visual Studio Geçici Dosyaları ve Klasörleri
.vs/
*.user
*.suo
*.ipch
*.aps

# Derleme Çıktıları (Build Artifacts)
x64/
x86/
Debug/
Release/
build/
bin/
obj/

# C++ Derleme Atıkları
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp

# Not: .lib ve .dll dosyalarını normalde ignore ederiz ama
# "vendor" klasöründeki kütüphaneler (GLFW/GLEW) gitmeli.
# O yüzden vendor klasörü için bir istisna ekleyebilirsin veya
# vendor klasörünü manuel eklersin.
!vendor/**/*.lib
!vendor/**/*.dll